{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-8 masthead-text">
                <h1 class="event-title">{{ event.title }}</h1>
                <p class="event-subtitle">
                    Hosted by {{ event.creator }} | {{ event.date|date:"F j, Y" }} | {{ event.date|time:"g:i a" }} | {{ event.location }}
                </p>
                <div class="attendance-badges mb-3">
                    <span class="badge bg-success me-2">
                        <i class="fas fa-check-circle">{} Going</i>
                    </span>
                    <span class="badge badge-warning m2-2 text-dark">
                        <i class="fas fa-check-circle">{}  Maybe</i>
                    </span>
                </div>
            </div>
    
            <!-- ADD ----------------- Image col -->
    
    
        </div>
    </div>
</div>

{% endblock %}
