{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load cloudinary %}

{% block content %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-8 masthead-text">
                <h1 class="event-title">{{ event.title }}</h1>
                <p class="event-subtitle">
                    Hosted by {{ event.creator.username }} | {{ event.date|date:"F j, Y" }} | {{ event.date|time:"g:i a" }}
                </p>
                <p class="event-location">
                    <i class="fas fa-map-marker-alt"></i>
                    {{ event.loaction }}
                </p>

                <!-- Attendance status -->
                {% if user.is_authenticated %}
                <div class="attendance_buttons mt-3">
                    <a href="#" class="btn btn-success btn-sm">Attending</a>
                    <a href="#" class="btn btn-warning btn-sm">Maybe</a>
                    <a href="#" class="btn btn-danger btn-sm">Can't Attend</a>
                </div>
                {% endif %}
            </div>
    
    
        </div>
    </div>
</div>

{% endblock %}
