{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-8 mx-auto">
			<h1 class="mb-4">Events</h1>

			{% if events %}
			    <div class="list-group">
			    	{% for event in events %}
			    	    <a href="#" class="list-group-item list-group-item-action">
			    	    	<div class="d-flex w-100 justify-content-between">
			    	    		<h4 class="mb-1">{{ event.title }}</h4>
			    	    		<small>{{ event.date }}</small>
			    	    	</div>
			    	    	<p class="mb-1">{{ event.description }}</p>
			    	    	<small>Hosted by:<strong>{{ event.creator }}</strong></small>
			    	    </a>
                    {% endfor %}
			    </div>
            {% else %}
                <div class="alert alert-info">
                    No upcoming events found. Want to <a href="#">create an event</a>?
                </div>
            {% endif %}
		</div>
	</div>
</div>
{% endblock %}