{% extends 'base.html' %}
{% load static cloudinary %}

{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-8 mx-auto">
			<div class="row">
				<h1>Upcoming Events</h1>
				<a href="#" class="btn btn-primary">
					<i class="fas fa-plus-circle"></i> Create Event
				</a>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-8 mt-3">
					{% for event in events %}
					<div class="card mb-4">
						<div class="card-body">
							<div class="image-container">
								{% if event.featured_image %}
									{% cloudinary event.featured_image class="card-img-top" alt=event.title %}
								{% else %}
									<img src="{% static 'images/default.jpg' %}" alt="default event image" class="card-img-top">
								{% endif %}
								<div class="image-flash">
                                    <p class="author">Host: {{ event.creator.username }}</p>
                                </div>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>

			{% if events %}
			    <div class="row row-cols-1 row-cols-md-2 g-4">
			    </div>
            {% else %}
                <div class="alert alert-info">
                    No upcoming events found. Want to <a href="#">create an event</a>?
                </div>
            {% endif %}
		</div>
	</div>
</div>
{% endblock %}