{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container mt-5">
    <h2 class="profile-h2 mb-4">Your Events Status</h2>
    <div class="row">
        <div class="col-md-3">
            <div class="d-flex align-items-center mb-3 p-3 bg-info bg-opacity-10 rounded border-primary border-4">
                <i class="fas fa-user fa-lg text-primary me-3"></i>
                <div>
                    <h6 class="mb-0 text-muted">Username:</h6>
                    <p class="mb-0 fs-5">{{ user.username }}</p>
                </div>
            </div>
        </div>
    </div>

    <hr class="profile-hr">

    <div class="mb-4 bg-primary bg-opacity-10 p-4 rounded border-primary border-4">
        <h4 class="profile-h4"><i class="fas fa-plus fa-lg text-primary me-3"></i> Your created events</h4>
        <ul class="list-group">
            {% for event in created_events %}
            <li class="list-group-item">
                <a href="{% url 'event_detail' event.slug %}">{{ event.title }}</a>
            </li>
            {% empty %}
            <li class="list-group-item">
                You haven't created any events
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="mb-4 bg-success bg-opacity-10 p-4 rounded border-primary border-4">
        <h4 class="profile-h4"><i class="fas fa-calendar-check fa-lg text-primary me-3"></i> Events you marked "Attending"</h4>
        <ul class="list-group mb-4">
            {% for a in attending %}
            <li class="list-group-item">
                <a href="{% url 'event_detail' a.event.slug %}">{{ a.event.title }}</a>
            </li>
            {% empty %}
            <li class="list-group-item">You are not attending any events</li>
            {% endfor %}
        </ul>
    </div>

    <div class="mb-4 bg-warning bg-opacity-10 p-4 rounded border-primary border-4">
        <h4 class="profile-h4"><i class="fas fa-question fa-lg text-primary me-3"></i>Events you marked "Maybe"</h4>
        <ul class="list-group mb-4">
            {% for a in maybe %}
            <li class="list-group-item">
                <a href="{% url 'event_detail' a.event.slug %}">{{ a.event.title }}</a>
        </li>
        {% empty %}
        <li class="list-group-item">No events marked "Maybe"</li>
        {% endfor %}
        </ul>
    </div>

    <div class="mb-4 bg-danger bg-opacity-10 p-4 rounded border-primary border-4">
        <h4 class="profile-h4"><i class="fas fa-times fa-lg text-primary me-3"></i>Events you marked "Can't Attend"</h4>
        <ul class="list-group mb-4">
            {% for a in not_attending %}
            <li class="list-group-item">
                <a href="{% url 'event_detail' a.event.slug %}">{{ a.event.title }}</a>
            </li>
            {% empty %}
            <li class="list-group-item">No events marked "Can't Attend"</li>
            {% endfor %}
        </ul>
    </div>

    <hr>

    <div class="mb-5 bg-info bg-opacity-10 p-4 rounded border-primary border-4">
        <h4 class="profile-h4">Change Password</h4>
        <form method="post" class="mb-5">
            {% csrf_token %}
            {{ password_form.as_p }}
            <button class="btn btn-primary" type="submit">Change Password</button>
        </form>
    </div>
</div>

{% endblock %}